﻿
@{
    BLProfile BLProfile = new BLProfile();
    List<Profile> perfiles = BLProfile.GetProfile();
}

@model UserProcessModel

@using COIN.BIOM.Web.Models
@using COIN.BIOM.Entity
@using COIN.BIOM.Business;


<div id="divPrincipal" class="modal fade" role="dialog">
    <form id="frmPrincipal" class="form-horizontal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Usuarios</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Perfil </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(p => p.profileId, new System.Web.Mvc.SelectList(perfiles, "profileId", "name"), "Seleccione", new { @class = "form-control", @id = "ddlPerfilMantUserInProcess", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(p => p.processCode, new { @id = "hdnProcessCode", @name= "processCode" })
                            @Html.HiddenFor(p => p.userCode, new { @id = "hdnUserCode", @name = "userCode" })
                            <label class="col-sm-3 control-label"> Código Usuario </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.userBussinessCode, new { @class = "form-control", @required = "required", @id = "txtUserBussinessCodeMantUserInProcess", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="form-group" id="divUsernameMantUserInProcess">
                            <label class="col-sm-3 control-label"> Nombre de Usuario </label>
                            <div class="col-sm-9">
                                <input type="text" name="userName" id="txtUserNameMantUserInProcess" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group" id="divPassMantUserInProcess">
                            <label class="col-sm-3 control-label"> Contraseña </label>
                            <div class="col-sm-9">
                                <input type="password" name="password" id="txtPasswordMantUserInProcess" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group" id="divConfirmPassMantUserInProcess">
                            <label class="col-sm-3 control-label"> Confirmar Contraseña </label>
                            <div class="col-sm-9">
                                <input type="password" name="confirmPassword" id="txtConfirmPasswordMantUserInProcess" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Nombres </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.name, new { @class = "form-control", @required = "required", @id = "txtNameMantUserInProcess", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Apellidos </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.lastName, new { @class = "form-control", @required = "required", @id = "txtLastNameMantUserInProcess", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Correo Electrónico </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtEmailMantUserInProcess" name="email" maxlength="80" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Dni </label>
                            <div class="col-sm-9">
                                <!--<input type="number" name="dni" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" required="required" id="txtDniMantUserInProcess" maxlength="8" />-->
                                <input type="text" name="dni" class="form-control soloEnteros" required="required" id="txtDniMantUserInProcess" maxlength="8" />
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Proceso </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.processName, new { @class = "form-control", @required = "required", @id = "txtProcessNameMantUserInProcess" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
