﻿@model UserProcessModel

@{
    ViewBag.Title = "MantProcess";
    
}

@using COIN.BIOM.Web.Models;
@using COIN.BIOM.Entity;
@using COIN.BIOM.Business;

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"> Mantenimiento Procesos </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form id="frmBusqueda" class="form-horizontal" role="form">
                    <div class="form-group">
                        <input type="hidden" id="hdnProcessCode" class="form-control" name="processCode" value="@Model.processCode" />
                        <label for="txtApplicationBussinessCode" class="col-sm-2 control-label">Codigo Aplicación</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtApplicationBussinessCode" name="applicationBussinessCode" class="form-control" required="required" value="@Model.applicationBussinessCode" maxlength="10" />
                        </div>
                        <label for="txtProcessBussinessCode" class="col-sm-2 control-label">Código Proceso</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtProcessBussinessCode" name="processBussinessCode" class="form-control" required="required" value="@Model.processBussinessCode" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtProcessName" class="col-sm-2 control-label">Nombre Proceso</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtProcessName" name="processName" class="form-control" required="required" value="@Model.processName" maxlength="100" />
                        </div>
                        <label for="fingerprintQuantity" class="col-sm-2 control-label">Cant. Huellas Requeridas</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtFingerprintQuantity" name="fingerprintQuantity" class="form-control soloEnteros" required="required" value="@Model.processFingerprintQuantity" maxlength="2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-sm-1">
                            <a href="@Url.Action("Index", "Process")" class="btn btn-default">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group" id="addUserBlock">
                        <label for="txtUserBussinessCode" class="col-sm-2 control-label">Código Usuario</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtUserBussinessCode" name="userBussinessCode" class="form-control" required="required" maxlength="10" />
                        </div>
                        <div class="col-sm-3">
                            <button id="btnAsignarUsuario" type="button" class="btn btn-primary">Asignar Usuario</button>
                        </div>
                    </div>                    
                </form>
            </div>
            <br />
            <div class="box-body">
                <h3>Detalle Usuarios</h3>
                <table id="tabPrincipal" class="table table-bordered table-hover">
                    <thead>
                        <tr class="fondo-titulo-gris">
                            <th>

                            </th>
                            <th>
                                Código Usuario(userCode)
                            </th>
                            <th>
                                Código Proceso(processCode)
                            </th>
                            <th>
                                Código Usuario
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Dni
                            </th>
                            <th>
                                Proceso
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">

    <link href="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.css")" rel="stylesheet" />

}

@section scripts{
    <!-- DataTables -->
    <script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/jQueryValidate/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jQueryValidate/localization/messages_es_PE.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.js")"></script>

    <script src="@Url.Content("~/Scripts/app/mantProcessUser.js")"></script>

}