﻿@{
    BLUser oBLUser = new BLUser();
    User item = oBLUser.Get(WebSecurity.CurrentUserName);  //Consultar

    string nameLastName = string.Format("{0} {1}", item.name, item.lastName);
    string profile = string.Empty;
    if (item.profileId == (int)Enums.eProfile.ADMINISTRADOR)
    {
        profile = "Administrador";
    }
}

@using COIN.BIOM.Entity
@using COIN.BIOM.Business
@using WebMatrix.Data;
@using COIN.BIOM.Web.Helpers;
@using WebMatrix.WebData;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RESTAURANT | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/components/bootstrap/dist/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/components/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/components/Ionicons/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/css/skins/_all-skins.min.css")">
    <link href="@Url.Content("~/Content/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />

    @RenderSection("styles", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="row" id="loading-indicator" style="display:none">
        <center>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <img src="@Url.Content("~/Content/img/ajax-loader.gif")" />
        </center>

    </div>

    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Principal", "Home")" class="logo" style="background-color:white;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <img src="~/Content/img/log_icono.png" style="height:50px;" />
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/Content/img/log_general.png" style="height:70px;" />
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <h2 style="margin-top:10px;margin-bottom:0px;color:#1d3a5d"> Gestión de Procesos Restaurante Cocina Peruana</h2>
                <div class="navbar-custom-menu">
                    <b> @string.Format("{0:dd/MM/yyyy}", DateTime.Today)</b> | <span>@nameLastName</span> | <a href="@Url.Action("Exit", "Home")">Cerrar Sesión</a>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    @if (item.profileId == (int)Enums.eProfile.ADMINISTRADOR)
                    {
                        <li class="treeview @Html.IsSelected(controller: "User")@Html.IsSelected(controller: "Category")@Html.IsSelected(controller: "Product")@Html.IsSelected(controller: "Customer")@Html.IsSelected(controller: "Home", action: "Principal")" >
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Administración</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(controller: "User", action:"Index")"><a href="@Url.Action("Index", "User")"><i class="fa fa-circle-o"></i>Usuarios</a></li>
                                <li class="@Html.IsSelected(controller: "Category", action:"Index")"><a href="@Url.Action("Index", "Category")"><i class="fa fa-circle-o"></i>Categorias</a></li>
                                <li class="@Html.IsSelected(controller: "Product", action:"Index")"><a href="@Url.Action("Index", "Product")"><i class="fa fa-circle-o"></i>Productos</a></li>
                                <li class="@Html.IsSelected(controller: "Customer", action:"Index")"><a href="@Url.Action("Index", "Customer")"><i class="fa fa-circle-o"></i>Clientes</a></li>
                            </ul>
                        </li>
                        <li class="treeview @Html.IsSelected(controller: "Collection")">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Caja</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(controller: "Collection", action:"Index")"><a href="@Url.Action("Index", "Collection")"><i class="fa fa-circle-o"></i>Cobranzas</a></li>
                            </ul>
                        </li>
                        <li class="treeview @Html.IsSelected(controller: "AttentionOrder")">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Cocina</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(controller: "AttentionOrder", action:"Index")"><a href="@Url.Action("Index", "AttentionOrder")"><i class="fa fa-circle-o"></i>Órdenes de Atención</a></li>
                            </ul>
                        </li>
                        <li class="treeview @Html.IsSelected(controller: "ReportA")@Html.IsSelected(controller: "ReportB")">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Reportes</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(controller: "ReportA", action:"Index")"><a href="@Url.Action("ReportA", "Report")"><i class="fa fa-circle-o"></i>Reportes A</a></li>
                                <li class="@Html.IsSelected(controller: "ReportB", action:"Index")"><a href="@Url.Action("ReportB", "Report")"><i class="fa fa-circle-o"></i>Reportes B</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- 
                <section class="content-header"> 
                 </section>
            -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3
            </div>
            <strong>Copyright &copy; 2018 <a href="http://www.copeinca.com/index.html" target="_blank">Copeinca</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="@Url.Content("~/Content/components/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/components/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/components/fastclick/lib/fastclick.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/adminlte/js/adminlte.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/adminlte/js/demo.js")"></script>
    <!--Datetime Picker-->
    <script src="@Url.Content("~/Content/plugins/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-datetimepicker/es.js")"></script>

    <script>
        var appURL = "@Url.Content("~/")";

        $(document).ready(function () {
            $('.sidebar-menu').tree()
        });
            
        $(document).ajaxStart(function (event, request, settings) {
            $('#loading-indicator').height($('body').height());
            $('#loading-indicator').show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });

        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').hide();
        });

    </script>
    <!-- Global -->
    <script src="@Url.Content("~/Scripts/app/global.js")"></script>

    @RenderSection("scripts", false)
</body>
</html>
