﻿
@{
    ViewBag.Title = "Index";
    
}



<div class="box box-default color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Indicadores</h3>
    </div>
    <div class="box-body">

       
        <div id="GraficoReporte" style="height:400px; width:800px">
        </div>
        <div id="GraficoReporte2" style="height:400px; width:800px">
        </div>
    </div>
    <!-- /.box-body -->
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
    <script src="@Url.Content("~/Scripts/highcharts/modules/exporting.js")"></script>

    <script src="@Url.Content("~/Scripts/app/reporta.js")"></script>
}

