﻿
@{
    BLProfile BLProfile = new BLProfile();
    List<Profile> perfiles = BLProfile.GetProfile();
}

@model UserModel

@using COIN.BIOM.Web.Models
@using COIN.BIOM.Entity
@using COIN.BIOM.Business


<div id="divPrincipal" class="modal fade" role="dialog">
    <form id="frmPrincipal" class="form-horizontal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Usuarios</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Perfil </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(p => p.user.profileId, new System.Web.Mvc.SelectList(perfiles, "profileId", "name"),"Seleccione", new { @class = "form-control", @id = "ddlPerfilMantUser", @required = "required"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(p => p.user.userCode, new { @id = "hdnUserCode" })
                            <label class="col-sm-3 control-label"> Código Usuario </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.user.userBussinessCode, new { @class = "form-control", @required = "required", @id = "txtUserBussinessCodeMantUser", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="form-group" id="divUsernameMantUser">
                            <label class="col-sm-3 control-label"> Nombre de Usuario </label>
                            <div class="col-sm-9">
                                @*@Html.TextBoxFor(p => p.user.userName, new { @class = "form-control", @required = "required", @id = "txtUserNameMantUser", @maxlength = "50" })*@
                                <input type="text" name="user.userName" id="txtUserNameMantUser" class="form-control" value="" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group" id="divPassMantUser">
                            <label class="col-sm-3 control-label"> Contraseña </label>
                            <div class="col-sm-9">
                                @*@Html.PasswordFor(p => p.user.password, new { @class = "form-control", @required = "required", @id = "txtPasswordMantUser", @maxlength = "50" })*@
                                <input type="password" name="user.password" id="txtPasswordMantUser" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group" id="divConfirmPassMantUser">
                            <label class="col-sm-3 control-label"> Confirmar Contraseña </label>
                            <div class="col-sm-9">
                                @*@Html.PasswordFor(p => p.user.confirmPassword, new { @class = "form-control", @required = "required", @id = "txtConfirmPasswordMantUser", @maxlength = "50" })*@
                                <input type="password" name="user.confirmPassword" id="txtConfirmPasswordMantUser" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Nombres </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.user.name, new { @class = "form-control", @required = "required", @id = "txtNameMantUser", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Apellidos </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.user.lastName, new { @class = "form-control", @required = "required", @id = "txtLastNameMantUser", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Correo Electrónico </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.user.email, new { @class = "form-control", @id = "txtEmailMantUser", @maxlength = "80" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Dni </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.user.dni, new { @class = "form-control soloEnteros", @required = "required" , @id = "txtDniMantUser", @maxlength = "8" })                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
