﻿@{
    ViewBag.Title = "Index";
    BLProfile BLProfile = new BLProfile();
    BLUser oBLUser = new BLUser();
    List<Profile> perfiles = BLProfile.GetProfile();
    User item = oBLUser.Get(WebSecurity.CurrentUserName);

}

@model UserModel

@using COIN.BIOM.Web.Models
@using COIN.BIOM.Entity
@using COIN.BIOM.Business;

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">USUARIOS</h3>
                </center>
            </div>

            <!-- /.box-header -->
            <!-- form start -->
            <form id="frmBusqueda" action="@Url.Action("DownloadListUser","User")" class="form-horizontal" role="form">
                <div class="box-body">
                    <input type="hidden" id="hdnEnrollId" class="form-control" name="codcli" value="@item.enrollId" />
                    <input type="hidden" id="hdnPerfil" class="form-control" name="idperfil" value="@item.profileId" />
                    @if (item.profileId == 1)
                    {
                        <div class="form-group">
                            <label for="txtUserCodeUserIndex" class="col-sm-2 control-label">Codigo Usuario</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtUserCodeUserIndex" class="form-control" name="CodUsuario" maxlength="10" />
                            </div>
                            <label for="txtDniUserIndex" class="col-sm-2 control-label">Dni</label>
                            <div class="col-sm-3">
                                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" id="txtDniUserIndex" class="form-control" name="Dni" maxlength="8"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtUserNameUserIndex" class="col-sm-2 control-label">Nombre Usuario</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtUserNameUserIndex" class="form-control" name="NombUsuario" maxlength="50"/>
                            </div>
                            <label for="ddlPerfil" class="col-sm-2 control-label">Tipo de Perfil</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("Perfil", new System.Web.Mvc.SelectList(perfiles, "profileId", "name"), "Seleccione", new { @class = "form-control", @id = "ddlPerfil" })
                            </div>
                        </div>
                    }
                </div>
                <div class="box-footer" style="margin-left: 7% !important;">
                    <div class="col-sm-2">
                        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col-sm-2">
                        <button id="btnNuevo" type="button" class="btn btn-primary">Nuevo</button>
                    </div>
                    <div class="col-sm-3">
                        <button id="btnExportar" type="button" class="btn btn-success">Exportar Usuarios - Excel</button>
                    </div>
                </div>
            </form>

            <div class="box-body">

                <table id="tabPrincipal" class="table table-bordered table-hover">
                    <thead>
                        <tr class="fondo-titulo-gris">
                            <th class="btnRow">

                            </th>
                            <th class="btnRow">

                            </th>
                            <th class="btnRow">

                            </th>
                            <th class="btnRow">

                            </th>
                            <th class="hiddenColumn">
                                IsLocked
                            </th>
                            <th class="hiddenColumn">
                                Código Usuario
                            </th>
                            <th class="tableColumn">
                                Código Usuario
                            </th>
                            <th class="tableColumn">
                                Nombres
                            </th>
                            <th class="tableColumn">
                                Apellidos
                            </th>
                            <th class="tableColumn">
                                Login
                            </th>
                            <th class="tableColumn">
                                Perfil
                            </th>
                            <th class="tableColumn">
                                Dni
                            </th>
                            <th class="tableColumn">
                                Email
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

@Html.Partial("_MantUser", new UserModel())
@Html.Partial("_ResetPassUser", new UserModel())

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">

    <link href="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.css")" rel="stylesheet" />
    <style>
        
        .hiddenColumn {
            width: 1px !important;
        }
        .tableColumn {
            width: auto !important;
        }


    </style>

}

@section scripts{
    <!-- DataTables -->
    <script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/jQueryValidate/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jQueryValidate/localization/messages_es_PE.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.js")"></script>

    <script src="@Url.Content("~/Scripts/app/user.js")"></script>

}

