﻿@{
    ViewBag.Title = "Index";
    string CFecha = string.Format("{0:dd/MM/yyyy}", DateTime.Today);
    BLApplication BLApplication = new BLApplication();
    BLProcess BLProcess = new BLProcess();
    BLUser oBLUser = new BLUser();
    
    List<ProcessList> procesos = BLProcess.List("", "", 0);
    List<Application> aplicaciones = BLApplication.GetApplication();
    
    User item = oBLUser.Get(WebSecurity.CurrentUserName);
}

@using System.Configuration
@using COIN.BIOM.Web.Models
@using COIN.BIOM.Entity
@using COIN.BIOM.Business

<div class="row">
    <div class="col-md-10">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">CONSULTA DE EVENTUALIDADES</h3>
                </center>
            </div>

            <form id="frmBusqueda" class="form-horizontal" role="form" method="get" action="@Url.Action("DownloadListEventuality", "Eventuality")">
                <!--<input type="hidden" id="hdnUrlImagenes"  />-->
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Fecha Desde</label>
                        <div class="col-sm-3">
                            <input type="hidden" id="hdnFechaDesde" class="form-control" name="date1" />
                            <div class="input-group date dateTimePicker">
                                <input type="text" class="form-control pull-right" id="txtFechaDesde" value="@CFecha">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 control-label">Fecha Hasta</label>
                        <div class="col-sm-3">
                            <input type="hidden" id="hdnFechaHasta" class="form-control" name="date2" />
                            <div class="input-group date dateTimePicker">
                                <input type="text" class="form-control pull-right" id="txtFechaHasta" value="@CFecha">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--
                        <input type="hidden" id="hdnCodCli" class="form-control" name="codcli"  />
                        <input type="hidden" id="hdnPerfil" class="form-control" name="idperfil"  />                     -->   
                        <label for="inputEmail3" class="col-sm-2 control-label">Procesos</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("processFilter", new System.Web.Mvc.SelectList(procesos, "processId", "processName"), "Seleccione", new { @class = "form-control", @id = "ddlProceso" })
                        </div>                        
                        <label for="inputEmail3" class="col-sm-2 control-label">Aplicaciones</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("applicationFilter", new System.Web.Mvc.SelectList(aplicaciones, "applicationId", "applicationName"), "Seleccione", new { @class = "form-control", @id = "ddlApplication" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <!--
                    <div class="col-sm-1">
                        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
                    </div> -->
                    <div class="col-sm-2" style="margin-left: 7% !important;">
                        <button id="btnExportar" type="button" class="btn btn-success">Exportar</button>
                    </div>
                </div>
            </form>
            <!--
            <div class="box-body">
                <table id="tabPrincipal" class="table table-bordered table-hover">
                    <thead>
                        <tr class="fondo-titulo-gris">
                            <th>
                                Id
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Fecha Hora
                            </th>
                            <th>
                                Tipo Incidente
                            </th>
                            <th>
                                Sub Tipo Incidente
                            </th>
                            <th>
                                Lugar
                            </th>
                            <th>
                                Nivel de Criticidad
                            </th>
                            <th>
                                Nombres
                            </th>
                            <th>
                                Apellidos
                            </th>
                            <th>
                                Fecha Creación
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

                -->
        </div>
    </div>
</div>



@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">

    <link href="@Url.Content("~/Content/plugins/magnificPopup/magnific-popup.css")" rel="stylesheet" />

}

@section scripts{
    <!-- DataTables -->
    <script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/magnificPopup/magnific-popup.js")"></script>

    <script src="@Url.Content("~/Scripts/app/eventuality.js")"></script>

}