﻿@model LoginModel

@using COIN.BIOM.Web.Models

<div id="divPrincipal" class="modal fade" role="dialog">
    <form id="frmRecuperarClave" class="form-horizontal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Recuperar Clave</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">    
                        <div>Ingrese el correo electrónico de su cuenta.</div>    
                        <br />                
                        <div class="form-group">                            
                            <label class="col-sm-2 control-label">Correo Electrónico</label>
                            <div class="col-sm-10">                                
                                <input type="text" name="Email" value="" class="form-control" required="required" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnRecuperar" type="button" class="btn btn-primary">Recuperar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>